<html>

<head>
  <Title>Detect Secret Microphone and Camera</Title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="home()">Rakshak 👁️</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <hr>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
          <a class="nav-link" (click)="home()" >Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" (click)="how_to_use()" >How to use it 👷</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Support this project ❤️<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="mailto:mpranay2017@gmail.com">Developer Mail 💌</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content">
  <h2>Tips!</h2>
  <ol>
  <li>Place object near the phone and click the button below</li>
</ol>
</div>
  <div class="parent" >
    <div class="round-button"><div class="round-button-circle"><a (click)="test()"  class="round-button">Click Here To Detect!!</a></div></div>
    <ul>  
      <li> Request {{requestNumber }}</li>
      <li>{{msg}} </li>
    </ul>
  </div>
  
</body>

</html>